*{
    margin: 0;
    padding: 0;
}
.header{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.7), #04091e80),url(/banner.png);
background-position: center;
background-size: cover;
position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.logo{
  margin: auto;
 border-radius: 50%;
    top: 10px;
}
nav img{
    width: 150px;

}
.nav-links{
flex: 1;
text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background:#f44336;
    margin: auto;
    transition: 1.5s;
}
.nav-links ul li:hover::after {
width: 100%;
}
.text-box {
    width: 50%;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;

}
.text-box p {
    font-size: 14px;
    margin: 10px 0 40px;
}
.hero-btn{
    display: inline-block;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: 1.5px solid;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    transition: 1s;
    background: #f44336;
}
nav .fa {
    display: none;
}
@media (max-width:700px){
 .text-box{
    font-size: 20px;
 }   
 .nav-links ul li{
    display: block;
 }
 .nav-links{
position: fixed;
background-color: #f44336;
height: 100vh;
width: 200px;
 top: 0;
 right: -200px;;
text-align: left;
  z-index: 2;  
  transition: 1s;
 }
 nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
 }
 .nav-links ul {
    padding: 20px;
 }
}
/*--course---*/
.course{
    width: 80%;
    margin: 0 auto;
   text-align: center;
   padding-top: 100px;
}
.course h1{
    font-size: 36px;
}
.course p{
    font-size: 16px;
    color: black;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.course-col {
    padding: 20px 12px;
    background: yellow;
    border-radius: 10px;
    flex-basis: 31%;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
   box-shadow:0 0 20px rgba(0, 0, 0, 0.3); 
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .course-col{
        margin-bottom: 20px;
    }
}
/*--company---*/



.company {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.company-col {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.company-col img {
    width: 100%;
    display: block;
    border-radius: 10px;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 50%;
    opacity: 1;
}
.facilities {
    width: 80%;
    margin:  auto;
    padding-top: 100px;
    text-align: center;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 17px;
    margin-bottom: 15px;
    text-align: left;
}
/*--testimonials---*/
.testimonials {
    width: 80%;
    padding-top: 100px;
    margin:  auto;
    text-align: center;
       
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #dca4a0;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p {
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    
    text-align: left;
}
.testimonials-col .fa{
    color: #f44336;
}
@media(max-width: 700px){
    .testimonials-col img{
        margin-left: 0;
        margin-right: 15px;
    }
}
/*--call to action---*/
.cta{
    width: 80%;
    margin: 100px auto;
    padding: 100px 0;
    text-align: center;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), #04091e80),url(/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.cta h1{
   margin-bottom: 40px;
    color: white;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 20px;
    }
}
/*--footer---*/
.footer {
    width: 100%;
    padding: 50px 0;
    
    text-align: center;
}
.footer h4{
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
/*--icons---*/
.icons i{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart {
  color: #f44336;
}
/*about us*/
.sub-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), #04091e80),url(/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    padding-top: 100px;
    font-size: 50px;
}
.about-us{
    width: 80%;
    margin:  auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
   flex-basis: 48%; 
   padding: 30px 2px;
}
.about-col img{
    width: 100%;
    border-radius: 10px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn {
    border: 1px solid #f44336;
    color: #f44336;
    background: transparent;
    max-height: 20px;
}
.red-btn:hover{
    
    color: white;
    
}
/*--blog---*/
.blog-content {
    width: 80%;
    margin:  auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}
.blog-left{
    flex-basis: 55%;
}
.blog-left img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.blog-left h2{
    color:#222 ;
    font-weight: 600;
    margin: 30px 0;
}
 .blog-left p{
color: #999;
padding: 0;
 }
 .blog-right{
    flex-basis: 32%;
 }
 .blog-right h4{
    background: #f44336;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
 }
 .blog-right div{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 5px;
    box-sizing: border-box;
 }

 .comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 10px;
 }
 .comment-box h3{
    text-align: left;
 }
    .comment-box input, .comment-box textarea{
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: #f0f0f0;
    }
    .comment-form{
        margin: 10px 0;
    }
/*--contact us---*/
.location{
    overflow: hidden;
    box-sizing: border-box;
    width: 80%;
    margin:  auto;
    padding: 60px 0;
    text-align: center;
}
.contact-us{
    width: 80%;
    margin:  auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div i{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
   
    width: 100%;
    padding: 15px;
    margin-bottom: 17px ;
  border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    
}
